a:link, a:visited {
	color: #EEE;
}
img {
	border: none;
}
#normal2, #normal3, #normal4, #normal5, #normal6, #normal7, #normal8, #normal9, #normal10 {
	display: none;
}
#gallery {
	margin: 0 auto;
	width: 770px;
}
#thumbs {
	padding-bottom: 10px;
	width: 1540px;
  display: inline-block;
}
#bigimages {
	width: 770px;
	float: left;
}
#thumbs img {
	width: 130px;
	height: 130px;
  display: inline-block;
}
#bigimages img {
	border: 4px solid #555;
	margin-top: 5px;
	width: 750px;
}
#thumbs a {
	width: 130px;
	height: 130px;
	border: 6px solid #555;
	margin: 6px;
	float: left;
  display: inline-block;
}
#thumbs a:hover {
	border: 6px solid #888;
}
.thumbsWrapper {
  overflow: auto;
  margin: 20px 0;
}